{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST A BLOG</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<div class="page-header">
    <h1><a href="{% url "post_list" %}">Just a blog</a></h1>
</div>

<div class="content container">
    <div class="row">
        <div class="col-md-12">
            {% block content %}
            {{% endblock%}
        </div>
    </div>
</div>
</body>
</html>