{% extends 'blog/base.html' %}

{% block title %}My Blog{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                <p> Published: {{ post.published_date }}</p>
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>By {{ post.author }}</p>
            <p>{{ post.text|truncatechars:300}}</p>
            <a href="{% url 'post_detail' pk=post.pk %}" class="approved-comments">Comments: {{ post.approved_comments.count }}</a>
        </div>
    {% endfor %}
{% endblock %}