.page-header {
    background-color: #18BC9C;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    margin-left: 5%;
}

.content container {
    margin-left: 100px;
    align: center;
}

h1, h2, h3, h4 {
    margin-top: 10px;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #f2f5f4;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23bed7ca' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.date {
    padding: 15px 0;
    color: #828282;
}

.post h2 a {
    color: #000000;
}

.post h2 a:visited {
    color: #18BC9C;
}

textarea {
    width: 100%;
}

.btn-primary, .btn-primary:hover{
    background-color: #18BC9C;
    border-color: #18BC9C;
}

.top-menu-right {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 100px;
    padding-top: 5px;
}

#id_title {
    width:100%;
}

.new_post {
    padding: 15px 0;
}

.detail {
    margin-top: 15px;
}

#id_password{
    width: 20%;
    margin-left: 5px;
}

#id_username{
    width: 20%;
}

fa, .fas {
    padding-left: 20px;
    padding-top: 20px;
    color: #ffffff;
}

.login-container{
    text-align: center;
    margin-top: 100px;
}

.top-menu {
    float: left;
    font-size: 15pt;
    color: #ffffff;
    padding-right: 20px;
    padding-top: 22px;
}
.login {
    float: right;
    font-size: 20pt;
    color: #ffffff;
    padding-left: 15px;
    padding-top: 15px;
}

.no-comment{
    margin-top: 10px;
}
